body {
    background-image: url("level15.jpg");
    background-repeat: repeat;
}

.content {
    max-width: 800px;
    margin: 10px auto 10px auto;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: rgb(240, 240, 240);
    font-family: proxima-nova, sans-serif;
}

.title {
    font-size: 5em;
    font-weight: lighter;
}

.headshot {
    margin: 30px;
    width: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
}

.subtitle {
    font-weight: lighter;
    margin-top: 30px;
}

.quote {
    margin-top: 20px;
}

.email {
    margin-top: 15px;
}

.email .glyphicon {
    color: rgb(100, 100, 255);
    margin-left: 10px;
    margin-right: 5px;
    vertical-align: text-top;
}

.header a {
    color: rgb(100, 100, 255);
}

.header a:hover {
    color: rgb(140, 140, 255);
}

.box {
    background-color: white;
    box-shadow: 3px 3px 5px #888888;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    margin: 10px;
    display: inline-block;
}

.boxes {
    text-align: center;
    margin-top: 20px;
}

.box img {
    height: 100%;
    width: 100%;
}

.box:hover {
    height: 144px;
    width: 144px;
    margin: 13px;
}

.box img:hover {
    opacity: 0.5;
}

.footnote {
    text-align: center;
    padding-top: 10px;
}
