{% load staticfiles bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Alex Ball</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'home/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'home/home.css' %}">

    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <script src="https://use.typekit.net/ljz3uhu.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-21143191-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-21143191-5');
    </script>
</head>

<div class="container content">
    <div class="row header">
        <div class="col-sm-4">
            <img src="{% static 'home/headshot.jpg' %}" class="headshot">
        </div>
        <div class="col-sm-8">
            <h1 class="title">Alex Ball</h1>
            <h3 class="subtitle">Full-StackOverflow Developer</h3>
            <p class="quote">{{ subtitle.text }}</p>
            <p class="email">
                <a href="mailto:alex@ameryn.com">{% bootstrap_icon "envelope" %}alex@ameryn.com</a>
            </p>
        </div>
    </div>
    <div class="row boxes">
        {% for box in boxes %}
        <div class="box">
            <a href="{{ box.link_url }}">
                <img src="{% static box.logo_url_static %}">
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="footnote text-muted">
        Background photo credit: Alex Ball
    </div>
</div>
</html>
