{% load staticfiles %}
<link rel="stylesheet" href="{% static 'home/home.css' %}">

<div class="content">
    <div>
        <div style="float:left; width:250px;">
            <img src="https://lh4.ggpht.com/wKrDLLmmxjfRG2-E-k5L5BUuHWpCOe4lWRF7oVs1Gzdn5e5yvr8fj-ORTlBF43U47yI=w300" style="width:200px;">
        </div>
        <div style="float:left;">
            <h1>Alex Ball</h1>
            <h2>Entrepreneur, coder, shenanigan.</h2>
            "Live every week like it's Shark Week." -- Tracy Jordan<br />
            <ul>
                <li>Today's task: <a href="https://github.com/broxeph/djangalex">Django!</a></li>
            </ul>
            <br />
        </div>
        <div style="float:right; text-align:right;">
            <a href="mailto:alex@ameryn.com">alex@ameryn.com</a>
        </div>
    </div>
    <div style="clear:both"></div>
    <div style="text-align:center;">
        {% if boxes %}
            </ul>
            {% for box in boxes %}
                <div class="box">
                    <a href="{{ box.link_url }}">
                        <img src="{{ box.logo_url }}">
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <p>No boxes are available.</p>
        {% endif %}
    </div>
    <div style="text-align:center; font-size:12px; padding-top:10px;">
        Background photo credit: Alex Ball
    </div>
</div>
