boto==2.48.0  # AWS S3 for django-storages
dj-database-url==0.4.2  # DATABASES setting for prod env
dj-static==0.0.6
Django==1.11.5
django-bootstrap3==9.0.0
django-registration-redux==1.7
django-storages==1.6.5
gunicorn==19.7.1
pandas==0.20.3
Pillow==4.2.1  # Needed by ImageField
psycopg2==2.7.3.1  # Postgres
static3==0.7.0
-e git://github.com/darklow/django-suit.git@v2#egg=django-suit
