DEBUG = True

AWS_STORAGE_BUCKET_NAME = 'blah'

AWS_ACCESS_KEY_ID = 'blah'

AWS_SECRET_ACCESS_KEY = 'blah'

SECRET_KEY = 'blah'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'djangalex',
        'USER': 'postgres',
        'PASSWORD': 'postgres',
        'HOST': '127.0.0.1',
        'PORT': '5432',
    }
}
