{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'wineapp/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'wineapp/wineapp.css' %}">
    <script src="https://use.typekit.net/ljz3uhu.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>

<body>
    <div class="base">
        <nav>
            <div>
                <a href="{% url 'wineapp:index' %}">WineApp!</a>
            </div>
            <div id="navbar">
                <ul>
                    <li><a href="{% url 'wineapp:wine_list' %}">Wine List</a></li>
                    <li><a href="{% url 'wineapp:index' %}">Home</a></li>
                </ul>
            </div>
        </nav>

        <h1>{% block title %}(no title){% endblock %}</h1>

        <div>
            {% block content %}(no content){% endblock %}
        </div>
    </div>
</body>