{% extends 'wineapp/base.html' %}

{% load staticfiles %}

{% block title %}
WineApp!
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <img src="{% static 'home/wineapp.png' %}" class="wineapp-logo">
        This is (supposed to be) a wine review and recommendation app, built with Django on Heroku. Its creator thoroughly disclaims all responsibility and/or damages caused while said creator looks on in horrified fascination.
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2>Shouts and Murmurs</h2>
        {% include 'wineapp/news_block.html' %}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2>Latest reviews</h2>
        {% include 'wineapp/review_list_block.html' %}
    </div>
</div>
{% endblock %}
