{% extends "wineapp/base.html" %}

{% load staticfiles %}
{% load bootstrap3 %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <img src="{% static 'wineapp/wine-image.png' %}" class="wine-img-lg">
        <h2>{{ wine.name }}</h2>
        <h5>
            {% if wine.review_set.count == 1 %}
            {{ wine.review_set.count }} review
            {% else %}
            {{ wine.review_set.count }} reviews
            {% endif %}
            {% if wine.review_set.all %}
             (Average rating: {{ wine.average_rating | floatformat }})
            {% endif %}
    </div>
</div>

<h3>Recent reviews</h3>

{% if wine.review_set.all %}
<div class="row">
    {% for review in wine.review_set.all %}
    <div class="col-xs-6 col-lg-4">
        <em>{{ review.comment }}</em>
        <h6>Rated {{ review.rating }} of 5 by <a href="{% url 'wineapp:user_review_list' review.user_name %}">{{ review.user_name }}</a></h6>
        <h5><a href="{% url 'wineapp:review_detail' review.id %}">
        Read more
        </a></h5>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No reviews for this wine yet</p>
{% endif %}

<h3>Add your review</h3>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'wineapp:add_review' wine.id %}" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form layout='inline' %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">
        {% bootstrap_icon "star" %} Add
    </button>
    {% endbuttons %}
</form>
{% endblock %}
