{% load static %}

<div class="row">
    {% for wine in wine_list %}
    <div class="col-xs-6 col-lg-4">
        <a href="{% url 'wineapp:wine_detail' wine.id %}">
            {% if wine.image %}
                <img src="{{ wine.image.url }}" class="wine-img-md">
            {% else %}
                <img src="{% static 'wineapp/wine-image.png' %}" class="wine-img-md">
            {% endif %}
        </a>
        <h4><a href="{% url 'wineapp:wine_detail' wine.id %}">
            {{ wine.name }}
        </a></h4>
        {% if wine.variety %}
            <p>{{ wine.variety }}</p>
        {% endif %}
        {% if wine.review_set.count == 1 %}
            <h5>{{ wine.review_set.count }} review</h5>
        {% else %}
            <h5>{{ wine.review_set.count }} reviews</h5>
        {% endif %}
        {% if wine.average_rating %}
            <h5>{{ wine.average_rating | floatformat }} average rating</h5>
        {% endif %}
    </div>
    {% empty %}
    <div class="col-xs-12">
        <p>Yeah, we're kinda scratching our heads, too. All out! Too bad.</p>
    </div>
    {% endfor %}
</div>
