{% load staticfiles %}

{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'home/favicon.ico' %}"/>
    <script src="https://use.typekit.net/ljz3uhu.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block bootstrap3_content %}
<div class="container">
    <h1>{% block title %}AlexSites!{% endblock %}</h1>

    {% bootstrap_messages %}

    {% block content %}(no content){% endblock %}
</div>
{% endblock %}
</html>